body{
	background-color: lightgreen;
}
h1{
	text-align: center;
	font-family: cursive;
	color: darkred;
	text-shadow: 0px 0px 3px black;
}
table{
	border: double 5px black;
	width: 50%;
	font-family: cursive;
}
th{
	border: double 2px red;
	width: 25%;
	height: 1cm;
	background-color: yellow;
	font-family: cursive;
}
td{
	text-align: center;
	border: solid 2px orange;
	height:  1cm;
	font-family: cursive;
}
tr:hover{
	background-color: lightblue;
	font-family: cursive;
}
td:hover{
    background-color: blue;
    color: pink;
    font-size: 1.5em;
    text-transform: uppercase;
    font-family: cursive;
}
tr:nth-child(even){
	background-color: lightyellow;
}
caption{
	font-size: 30px;
	font-family: cursive;
}